:root{
    --dark: rgb(56, 143, 114);
    --theme: rgb(85, 211, 169);
    --light: rgb(160, 231, 207);
    --lighter: rgb(236, 255, 249);
}

.input{
    width: 180px;
    height: 30px;
    border: 0;
    border-radius: 5px;
    display: block;
    margin: 10px auto;
    border: .3px solid rgba(0, 0, 0, 0.8);
    padding-left: 10px;
    text-align: center;
}

body{
    margin: 0;
}

*{
    box-sizing: border-box;
}

#relative_storage{
    margin: 10px auto;
    font-size: 14px;
    width: fit-content;
    margin-bottom: 15px;
}

#color_cont{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-gap: 20px;
    justify-content: center;
}

.color{
    width: 60px;
    height: 60px;
    cursor: pointer;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

.color:hover{
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

#back{
    position: fixed;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.2);
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#front{
    border-radius: 5px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.6);
    background-color: rgb(237, 239, 241);
    width: 60vw;
    height: 60vh;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 11;
    overflow: hidden;
}

#nav_bar{
    background-color: var(--dark);
    width: 100%;
    height: 50px;
}

#left_cont{
    margin-left: 10px;
    height: 50px;
    width: fit-content;
    color: rgb(0, 0, 0);
}

#logo{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
}

#logo i{
    font-size: 35px;
}

#logo_name{
    float: left;
    font-size: 25px;
    padding-top: 9.5px;
    margin-left: 5px;
}

#search_cont{
    position: absolute;
    top: 0px;
    left: 20%;
    height: 50px;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#search_box{
    background-color: whitesmoke;
    width: 90%;
    height: 40px;
    border-radius: 2px;
    position: relative;
    border: .3px solid rgba(0, 0, 0, 0.8);
}

#search_button{
    margin-left: 5px;
    margin-top: 5px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color .3s;
    float: left;
    background-color: rgb(237, 239, 241);
    border: .3px solid rgba(0, 0, 0, 0.8);
    box-shadow: .3px 1px 0px rgba(0, 0, 0, 0.3);
}

#search_button:hover{
    box-shadow: .3px 1px 4px rgba(0, 0, 0, 0.3);
}

#filter_button:hover{
    box-shadow: .3px 1px 4px rgba(0, 0, 0, 0.3);
}

#filter_button{
    margin-right: 5px;
    margin-top: 5px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color .3s;
    float: right;
    background-color: rgb(237, 239, 241);
    border: .3px solid rgba(0, 0, 0, 0.8);
    box-shadow: .3px 1px 0px rgba(0, 0, 0, 0.3);
}

#search_input{
    all: unset;
    float: left;
    margin-top: 5px;
    margin-left: 5px;
    height: 30px;
    width: calc(100% - 80px);
}

#right_cont{
    float: right;
    position: absolute;
    top: 0;
    right: 0;
}

#profile_cont{
    width: 50px;
    height: 50px;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

#profile:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#profile{
    background-color: rgb(237, 239, 241);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#profile_menu{
    width: 300px;
    height: 300px;
    background-color: rgb(237, 239, 241);
    position: fixed;
    top: 60px;
    right: 10px;
    display: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 5;
    border-radius: 5px;
}

#profile img{
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 50%;
}

#theme_cont{
    width: 50px;
    height: 50px;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

#theme{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(237, 239, 241);
    cursor: pointer;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#theme:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#path{
    width: 100%;
    height: 40px;
    background-color: var(--theme);
    padding-top: 5px;
}

#path_cont{
    width: fit-content;
    margin-left: 30px;
    border-radius: 5px;
    height: 30px;
    background-color: rgb(237, 239, 241);
    border: .3px solid rgba(0, 0, 0, 0.8);
}

#home{
    width: 80px;
}

#home i{
    position: relative;
    top: 5px;
    left: 10px;
}

#home span{
    position: relative;
    top: 5px;
    left: 15px;
    padding: 0;
}

.folder_path span{
    position: relative;
    top: 5px;
    padding: 0 10px;
}

.folder_path:hover{
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);
}

.folder_path{
    float: left;
    border-right: .3px solid rgba(0, 0, 0, 0.8);
    height: 100%;
    cursor: pointer;
}

.folder_path:last-child{
    border-right: 0;
}

.menu{
    background-color: rgb(237, 239, 241);
    width: 90%;
    height: 30px;
    margin: 10px auto;
    border-radius: 5px;
    border: .3px solid rgba(0, 0, 0, 0.8);
    padding: 5px 15px;
    cursor: pointer;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.4);
}

#menu hr{
    width: 70%;
    margin: 20px auto;
}

#storage_cont hr{
    margin: 0 auto;
    margin-bottom: 10px;
}

.menu:hover{
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
}

#container{
    background-color: rgb(235, 225, 240);
    width: 100%;
    height: calc(100vh - 90px);
}

#menu{
    float: left;
    width: 25%;
    height: 100%;
    background-color: var(--light);
    position: relative;
    padding-top: 10px;
    overflow: hidden;
}

#file_explorer{
    width: 75%;
    height: 100%;
    background-color: var(--lighter);
    float: left;
    overflow-y: scroll;
    overflow-x: hidden;
}

#file_explorer::-webkit-scrollbar{
    background-color: transparent;
    width: 10px;
}

#file_explorer::-webkit-scrollbar-thumb{
    background-color: var(--light);
    border-radius: 2px;
}

#storage_cont{
    width: 100%;
    height: 140px;
    position: absolute;
    bottom: 0px;
    padding-top: 10px;
    color: rbg(15, 15, 15);
    background-color: var(--light);
}

#storage_title{
    height: fit-content;
    width: fit-content;
    margin: 0 auto;
}

#storage_title i{
    font-size: 25px;
    float: left;
}

#storage_word{
    font-size: 20px;
    float: left;
    margin-left: 6px;
    margin-top: 2px;
}

#storage{
    width: 60%;
    height: 6px;
    background-color: rgb(221, 221, 221);
    margin: 45px auto;
    margin-bottom: 10px;
    border-radius: 10px;
    overflow: hidden;
    border: .1px solid rgba(0, 0, 0, 0.2);
}

#storage_value{
    width: 10%;
    height: 100%;
    background-color: var(--dark);
    border-radius: 6px;
}

#new_cont{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#filter_menu{
    position: absolute;
    top: 40px;
    z-index: 1;
    width: 100%;
    height: 300px;
    background-color: inherit;
    border: .3px solid rgba(0, 0, 0, 0.8);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: .5px 2px 5px rgba(0, 0, 0, 0.5);
    display: none;
}

.f_cont{
    width: 200px;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
}

.f_inner_cont{
    width: 80%;
    height: 80%;
    background-color: rgb(237, 239, 241);
    padding-top: 10px;
    border-radius: 5px;
    border: .3px solid rgba(0, 0, 0, 0.8);
    position: relative;
    box-shadow: .2px 1px 2px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.f_inner_cont:hover{
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.6);
}

.f_icon{
    margin-top: 10px;
    font-size: 70px;
    text-align: center;
    color: var(--dark);
}
 
.f_name{
    font-size: large;
    text-align: center;
    position: absolute;
    bottom: 5px;
    width: 100%;
    height: 30px;
    border-top: .3px solid rgba(0, 0, 0, 0.8);
    padding-top: 5px;
    overflow: hidden;
}

.f_selected .f_inner_cont{
    background-color: rgb(255, 153, 0);
    box-shadow: none;
}

#profile_img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: var(--dark);
    margin: 10px auto;
    margin-top: 30px;
    display: block;
    overflow: hidden;
}

#profile_name{
    margin: 0 auto;
    text-align: center;
}

#profile_email{
    margin: 5px auto;
    text-align: center;
}

#edit_name{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
    box-shadow: 0.2px 1px 1px rgba(0, 0, 0, 0.4);
}

#reset_password{
    text-align: center;
    box-shadow: 0.2px 1px 1px rgba(0, 0, 0, 0.4);
}

#edit_name:hover{
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
}

#reset_password:hover{
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
}

.box_shadow{
    box-shadow: 0.2px 1px 1px rgba(0, 0, 0, 0.4);
}

.property_cont{
    width: 90%;
    height: 20px;
    margin: 18px auto;
}
.property_cont .key{
    width: 35%;
    height: 100%;
    float: left;
    padding-left: 20px;
    font-size: 16.5px;
}
.property_cont .value i{
    margin-right: 8px;
}
.property_cont .value{
    width: 50%;
    height: 100%;
    float: left;
    border-bottom: .5px solid black;
    border-left: .5px solid black;
    padding: 0px 10px;
    overflow: hidden;
}